<%= form_with(model: comment) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "#{current_user.name.truncate(12, omission: '...')}としてコメントを公開する", class: "form-control" %>
    <%= f.hidden_field :post_id, value: post.id %>
  </div>
  <div class="actions">
    <%= f.submit "コメントをする", class: "btn btn-default" %>
  </div>
<% end %>
