<% if post.errors.any? %>
  <div id="error_explanation">
    <h4><%= t('error_occurred') %></h4>
    <ul>
      <% post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
