<% if post.errors.any? %>
  <div id="error_explanation">
    <h4>エラーが発生しました。以下の項目について確認してください。</h4>
    <ul>
      <% post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
