<% if current_user.posts.first&.persisted? %>
  <div class="unavailable_post">
    <%= t('.posted_list') %>
    <div class="unavailable_post_list">
      <% current_user.posts.order(:category_id, ranking_point: :desc).each do |post| %>
        <span>
          <!-- TDDO: N+1 -->
          <%= Category.find(post.category_id).name %>
          &#183;&#183;&#183;<%= t("activerecord.enum.post.ranking_point.#{post.ranking_point}") %>&emsp;&emsp;
        </span>
      <% end %>
    </div>
  </div>
<% end %>
