<% if current_user.posts.first&.persisted? %>
  <div class="unavailable_post">
    <%= t('.posted_list') %>
    <div class="unavailable_post_list">
      <% current_user.posts.order(:category_id, ranking_point: :desc).each do |post| %>
        <span>
          <!-- TDDO: N+1 -->
          <!-- TODO: en.ymlに対応させる -->
          <%= choose_name_ja_or_name_en(Category.find(post.category_id)) %>
          &#183;&#183;&#183;<%= t("activerecord.enum.post.ranking_point.#{post.ranking_point}") %>&emsp;&emsp;
        </span>
      <% end %>
    </div>
  </div>
<% end %>
