<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4 admin_top_menu">
        <ul>
          <li><%= link_to 'カテゴリー管理画面へ', admin_categories_path, class: "btn btn-warning btn-lg" %></li>
          <li><%= link_to 'ユーザー管理画面へ', admin_categories_path, class: "btn btn-warning btn-lg" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
