<% if user.errors.any? %>
  <div id="error_explanation">
    <h5>エラーが発生しました。以下の項目について確認してください。</h5>
    <ul>
      <% user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
