<div class="imgPrev">
  <% if user.picture.present? %>
    <%= image_tag(user.picture.image.url, class: "imgView") %>
    <div class="mask" onclick="$('#upfile').click()">
      <div class="mask_message">
        <i class="fas fa-file-import fa-5x"></i>
      </div>
    </div>
  <% else %>
    <%= image_tag('/images/default.png', class: "imgView") %>
    <div class="mask" onclick="$('#upfile').click()">
      <div class="mask_message">
        <i class="fas fa-file-import fa-5x"></i>
      </div>
    </div>
  <% end %>
</div>
