<div class="category_list">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= Category.human_attribute_name(:name_ja) %></th>
      </tr>
    </thead>
    <tbody>
      <% categories.each do |category| %>
        <tr class="active_category">
          <td>
            <%= link_to choose_name_ja_or_name_en(category),
                        user_category_posts_path(@user, category),
                        class: cp(user_category_posts_path(@user, category))
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
