<div class="category_list">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>カテゴリー名</th>
      </tr>
    </thead>
    <tbody>
      <% categories.each do |category| %>
        <tr class="active_category">
          <td>
            <%= link_to category.name,
                        category_user_path(category, @user),
                        class: cp(category_user_path(category, @user))
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
