<div class="text_area">
  <p class="title">Dockingの３つのコンセプト</p>
  <p class="content typ">
    <!-- TODO: 仮の文章 -->
    ランキングを大衆から個人へとフォーカスし、より人の好みが反映されているランキングをユーザーに提供すること。<br>
    大衆が選ぶランキングより、あの人が選ぶランキングを知りたいという声に応えること。<br>
    「私にとって一番」に出会える場所を提供すること。<br>
    <br>
  </p>
</div>
