<div class="text_area">
  <p class="title">Dockingのコンセプト</p>
  <p class="content typ">
    <!-- TODO: 仮の文章 -->
    ランキングを大衆から個人へとフォーカスし、より人の好みが反映されているランキングを提供すること。<br>
    大衆が選ぶランキングより、あの人が選ぶランキングを知りたいという声に応えること。<br>
    私の一番に出会える場所を提供すること。<br>
    <br>
  </p>
</div>
