<div class="wrapper" id="quit_block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 destroy_secsion">
        <%= image_tag('/images/logo3.png', class: 'img-responsive') %>
        <h3 class="title"><%= t('users.quit_docking') %></h3>
        <div class="content">
          退会処理が完了しました。<br>
          「Docking」をご利用いただき、ありがとうございました。<br>
          またのご利用をお待ちしております。
        </div>
        <%= link_to t('users.to_top_page'), root_path, class: 'btn btn-toppage' %>
      </div>
    </div>
  </div>
</div>
