<div class="wrapper" id="account_form_area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4 account_form">
        <h3><%= t('views.users.new_page') %></h3>
        <%= render partial: 'form', locals: { user: @user } %>
        <%= link_to 'ログインページへ', login_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
