<table class="table">
  <thead>
    <tr>
      <th><%= Category.human_attribute_name(:name) %></th>
      <th></th><!-- 空マス -->
    </tr>
  </thead>
  <tbody>
    <% categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to t('views.edit_button'), edit_admin_category_path(category) %>&nbsp;
          <%= link_to t('views.delete_button'),
                       admin_category_path(category),
                       method: :delete,
                       data: { confirm: t('views.admin.categories.category_delete_message', category: category.name) },
                       class: "category_destroy_link"
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
