<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">総合ランキング</label>
  <input id="iine" type="radio" name="tab_item">
  <label class="tab_item" for="iine">いいね！ランキング</label>
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <p class="c-txtsp">
        <%= render partial: 'overall_ranking', locals: { overall_ranking_posts: overall_ranking_posts } %>
      </p>
    </div>
  </div>
  <div class="tab_content" id="iine_content">
    <div class="tab_content_description">
      <% iine_ranking_posts.each.with_index(1) do |post, i| %>
        <div class="c-txtsp">
          <%= i %>位
          <div class="mask">
            <%= linked_post_picture(post) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
