<div class="wrapper" id="post_form_area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-3 col-md-6">
        <h3><span class="underline"><%= t('views.posts.edit_page') %></span></h3>
        <%= render partial: 'form', locals: { post: @post } %>
      </div>
    </div>
  </div>
</div>
