<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8">
        <h3 style="text-align: center"><%= t("views.posts.new_page") %></h3>
        <%= render partial: "form", locals: { post: @post } %>
      </div>
    </div>
  </div>
</div>
