<ul id="slide_wrapp">
  <li class="slide_item"><%= image_tag('/images/slide_photo1.jpg', class: "img-responsive") %></li>
  <li class="slide_item"><%= image_tag('/images/slide_photo2.jpg', class: "img-responsive") %></li>
  <li class="slide_item"><%= image_tag('/images/slide_photo3.jpg', class: "img-responsive") %></li>
</ul>
