.admin_top_menu {
  text-align: center;
  margin-top: 30vh;
  ul {
    padding: 0;
    li {
      list-style: none;
    }
    li a {
      margin-bottom: 20px;
      width: 214px;
    }
  }
}

.admin_categories_index {
  margin-top: 45px;
  .btn-primary {
    margin-left: 14%;
  }
  .category_destroy_link {
    color: red;
  }
  .table {
    margin-top: 20px;
  }
}

.admin_users_index {
  margin-top: 45px;
  .user_destroy_link {
    color: red;
  }
  .table {
    margin-top: 20px;
  }
}
