html {
  width: 100%;
}

body {
  width: 100%;
  background-color: #FAFAFA;
  // background: linear-gradient(-135deg, #E4A972, #9941D8);
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 40px;
  background-color: white;
  opacity: 0.8;
}

header a {
  color: black;
  font-weight: bold;
}
// ヘッダーのナビを右に寄せる
header div {
  width: 400px;
}
.nav {
  margin-left: auto;
}
// ログインしているユーザ名表示の位置調整
header p.active_user {
  position: absolute;
  top: 4px;
  left: 9px;
  margin: 0 0 10px;
  width: 250px;

}

.wrapper {
  margin-top: 80px;
}
