// 全ページ共通タグ
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #F7F2E8;
  font-family: serif;
}

// マウスホバー時の下線を消す
a:hover {
  text-decoration: none;
}

// 編集と削除ボタン
.edit_delete_button {
  border-top: solid 1px lightgray;
  padding-top: 11px;
  .btn-warning {
    margin: 0 6px 0 10px;
  }
}

.wrapper {
  padding-top: 45px;
  width: 100%;
  height: 100%;
}

// テキストを折り返してはみ出さないように改行
.thumbnail, .caption {
  word-wrap: break-word;
}

.thumbnail {
  padding: 0;
}

// ヘッダー
.site-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 45px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  .app_logo {
    margin: 4px 4px 4px 50px;
  }
  nav.navibar {
    display: flex;
    position: relative;
    top: 1.4vh;
    margin-left: auto;
  }
  nav a {
    color: black;
    font-weight: bold;
    &:hover {
      color: black;
    }
    &.active {
      color: #EC407A;
      font-size: 18px;
    }
  }
}

.main_section {
  width: 100%;
  height: 100%;
}

// アラート
div.alert {
  position: fixed;
  top: 10vh;
  left: calc(50% - 335px);
  text-align: center;
  width: 666px;
  opacity: 1;
  z-index: 11;
}

// カテゴリーリスト
.category_list  {
  margin-top: 20px;
  tbody tr td {
    padding: 0;
  }
  tbody a {
    color: black;
    display: block;
    padding: 10px;
    // 選択中のカテゴリー
    &.current {
      color: white;
      background-color: black;
      padding: 10px;
    }
  }
  // マウスカーソルを重ねたとき
  .table-hover {
    tbody td:hover {
      background-color: black;
      a:hover {
        color: white;
      }
    }
  }
}

// 新規登録ボタン
a.cp_btn {
	display: block;
	width: 100%;
  margin-top: 22px;
	padding: 0.8em;
	text-align: center;
	color: #EC407A;
	border: 2px solid #EC407A;
	border-radius: 3px;
	transition: .4s;//ふわっと
  &:hover {
    background: #EC407A;
  	color: #fff;
  }
}
