// 左
.leftsidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 45px;
  .search_form_outer {
    margin-top: 20px;
  }
  input[value="Search!"] {
    width: 100%;
    &.btn {
      color: white;
      background-color: black;
    }
  }
}

// 中央
.centerbar {
  // カテゴリーラベル
  .category_label {
    width: auto;
    background-color: papayawhip;
    text-align: center;
    border-radius: 0.3em;
    padding: 5px
  }
  // 店名
  .eatery_name {
    font-weight: bold;
    margin-left: 10px;
  }
  // メニュー
  .eatery_food {
    margin-left: 16px;
  }
  ul {
    margin: 10px 0;
    padding-left: 9px;
  }
  li {
    list-style: none;
    display: inline;//リストを横並び
  }
  // 投稿がありません
  .no_post_message {
    width: 170px;
    margin: 0 auto;
    margin-top: 33vh;
  }
  // ２番目〜最後
  .second_to_last {
    padding: 0;
  }
}

// 右
.rightsidebar {
  // スライドショー
  #slide_wrapp {
    position: relative;
    overflow: hidden;
    padding-left: 0;
    border-radius: 2%;
    li {
      list-style: none;
    }
    .slide_item {
      opacity: 0;
      transform: scale(1);
      transition: opacity 2s linear, transform 7.5s linear;  //秒数に注意
      position: relative;
      z-index: 1;
      &:not(:first-child) {
        position: absolute;
        top: 0;
        left : 0;
      }
      &.show_ {
        opacity: 1;
      }
      &.zoom_ {
        transform: scale(1.1);
      }
      img {
        display: block; //下に余白ができないように
      }
    }
  }
  // // ランキング
  // table.ranking_table {
  //   margin: 18px 0;
  //   text-align: center;
  //   border-radius: 1%;
  //   td {
  //     padding: 0;
  //     width: 50%;
  //     &:hover {
  //       background-color: black;
  //     }
  //   }
  //   a {
  //     color: black;
  //     display: block;
  //     padding: 10px 0 10px 0;
  //     &:hover {
  //       color: white;
  //     }
  //     // 選択中のランキング
  //     &.current {
  //       color: white;
  //       background-color: black;
  //     }
  //   }
  // }
}

// いいね！済みのハート
#heart {
  position: relative;
  width: 100px;
  height: 90px;
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 15px;
  top: -4px;
  left: -2px;
  width: 15px;
  height: 25px;
  background: black;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart:after {
  left: -16px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

// 未いいね！のハート
#heart_lightgray {
  position: relative;
  width: 100px;
  height: 90px;
}
#heart_lightgray:before,
#heart_lightgray:after {
  position: absolute;
  content: "";
  left: 15px;
  top: -4px;
  left: -2px;
  width: 15px;
  height: 25px;
  background: lightgray;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart_lightgray:after {
  left: -16px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

// いいね！ボタン
.like button.btn-xs {
  margin-left: 85%;
  padding: 7px 8px 10px 22px;
  border: none;
}

// ページトップへ戻るボタン
#page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  opacity: 0.6;
  background: #337AB6;
  border-radius: 50%;
  a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  &:before {
    font-family: FontAwesome;
    content: '\f062';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 9px;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
}
