// 下にある投稿記事とのスペース
table.ranking_table {
  margin-bottom: 18px;
  text-align: center;
  border-radius: 1%;
}
// tdのデフォルトのpaddingリセット
.ranking_table tr td {
  padding: 0;
}
// テーブルの文字色変更
.ranking_table tr td a {
  color: black;
  display: block;
  padding: 10px 0 10px 0;
}
// マウスカーソルを重ねたとき
.ranking_table td:hover {
  background-color: black;
}
.ranking_table td a:hover {
  color: white;
  text-decoration: none;
}
// いいねのハート
#heart {
  position: relative;
  width: 100px;
  height: 90px;
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 15px;
  top: -4px;
  left: -2px;
  width: 15px;
  height: 25px;
  background: black;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart:after {
  left: -16px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
// いいねしていない場合のハート
#heart_lightgray {
  position: relative;
  width: 100px;
  height: 90px;
}
#heart_lightgray:before,
#heart_lightgray:after {
  position: absolute;
  content: "";
  left: 15px;
  top: -4px;
  left: -2px;
  width: 15px;
  height: 25px;
  background: lightgray;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart_lightgray:after {
  left: -16px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
// いいねボタンの台座のサイズ調整（positionは１番上に書く？）
.btn-xs {
  position: relative;
  left: 600px;
  padding: 7px 8px 10px 22px;
  border: none
}
// いいねボタンの前に付く黒点を削除
.iine_list {
  list-style: none;
}
// カテゴリーラベル
.category_label {
  position: relative;
  top: 5px;
  left: 6px;
  width: auto;
  display: inline;
  border: solid 1px lightgray;
  background-color: lightgray;
  text-align: center;
  border-radius: 0.3em;
  padding: 2px
}
// 備考欄の高さ
.remarks {
  margin-top: 5px;
  padding: 3px 7px;
  min-height: 70px;
  background-color: #f5f5f5;
}
// 編集・削除ボタンの上の区切り線
.edit_delete_button {
  border-top: solid 1px lightgray;
  padding-top: 11px;
  margin: 0
}
// スライドショー
#slideshow {
   position: relative;
   width:  690px; /* 画像の横幅に合わせて記述 */
   height: 150px; /* 画像の高さに合わせて記述 */
   margin-bottom: 10px;
}
#slideshow img {
   position: absolute;
   top: 0;
   left:0;
   z-index: 8;
   opacity: 0.0;
}
#slideshow img.active {
   z-index: 10;
   opacity: 1.0;
}
#slideshow img.last-active {
   z-index: 9;
}
// ページトップへ戻るボタン
.pagetop {
  position: fixed;
  bottom: 16px;
  right: 67px;
}
.pagetop a {
  display: block;
  text-decoration: none;
  color: #EC407A;
}
.pagetop:hover {
  opacity: 0.85 ;
}
// 総合ランキングの算出方法
.ranking_info {
  font-size: 14px;
  border: solid 1px lightgray;
  padding: 17px;
}
// サイドバーの位置を画面をスクロールしても固定
.sidebar {
  position: sticky;
  top: 10px;
}
// カテゴリーリストの高さ調整
.category_list_in_posts_index {
  margin-top: 220px
}
// 検索欄の高さ調整
.search_form_outer {
  margin-top: 220px;
}
// ロゴとカテゴリーリストの隙間
.logo {
  display: inline-block;
  margin-bottom: 20px;
}
