// ランキングテーブル
table.ranking_table {
  margin-bottom: 18px;
  text-align: center;
  border-radius: 1%;
}

// tdのデフォルトのpaddingリセット
.ranking_table tr td {
  padding: 0;
}

// テーブルの文字色変更
.ranking_table tr td a {
  color: black;
  display: block;
  padding: 10px 0 10px 0;
}

// マウスカーソルを重ねたとき
.ranking_table td:hover {
  background-color: black;
}
.ranking_table td a:hover {
  color: white;
}

// いいね！のハート
#heart {
  position: relative;
  width: 100px;
  height: 90px;
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 15px;
  top: -4px;
  left: -2px;
  width: 15px;
  height: 25px;
  background: black;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart:after {
  left: -16px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

// いいね！していない場合のハート
#heart_lightgray {
  position: relative;
  width: 100px;
  height: 90px;
}
#heart_lightgray:before,
#heart_lightgray:after {
  position: absolute;
  content: "";
  left: 15px;
  top: -4px;
  left: -2px;
  width: 15px;
  height: 25px;
  background: lightgray;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart_lightgray:after {
  left: -16px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

// いいね！ボタン
.like button.btn-xs {
  margin-left: 92%;
  padding: 7px 8px 10px 22px;
  border: none
}

// カテゴリーラベル
.category_label {
  position: relative;
  top: 5px;
  left: 6px;
  width: auto;
  display: inline;
  background-color: papayawhip;
  text-align: center;
  border-radius: 0.3em;
  padding: 5px
}

// 備考欄の高さ
.remarks {
  margin-top: 5px;
  padding: 3px 7px;
  min-height: 70px;
  background-color: #f5f5f5;
}

// スライドショー
#slideshow {
   position: relative;
   width:  690px; /* 画像の横幅に合わせて記述 */
   height: 150px; /* 画像の高さに合わせて記述 */
   margin-bottom: 10px;
}
#slideshow img {
   position: absolute;
   top: 0;
   left:0;
   z-index: 8;
   opacity: 0.0;
}
#slideshow img.active {
   z-index: 10;
   opacity: 1.0;
}
#slideshow img.last-active {
   z-index: 9;
}

// 総合ランキングの算出方法
.ranking_info {
  font-size: 14px;
  border: solid 1px lightgray;
  padding: 17px;
}

// カテゴリーリスト
// .category_list {
//
// }

// 左側のサイドバー
.leftsidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 45px;
}

// 右側のサイドバー
.rightsidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 45px;
}

// 新規登録ボタンと検索欄の高さ調整
.new_post_and_search_menu {
  padding-top: 136px;
}
.search_form_outer {
  margin-top: 20px;
}

// ロゴとカテゴリーリストの隙間
.logo {
  display: inline-block;
  margin-bottom: 20px;
}

// ページトップへ戻るボタン
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  background: #3f98ef;
  opacity: 0.6;
  border-radius: 50%;
 }
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: FontAwesome;
  content: '\f062';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 9px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

// 総合ランキングといいねランキングが選択されたとき
table tr td a.current {
  color: white;
  background-color: black;
}
