// サムネイルヘッダー
.thumbnail_header {
  height: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: solid 1px lightgray;
  span {
    font-size: 16px;
    font-weight: bold;
  }
  span.item {
    font-weight: normal;
  }
  // ポスト詳細ページのカテゴリーラベル
  span.category_label_in_posts_show {
    position: relative;
    top: 0px;
    left: 6px;
    width: auto;
    display: inline;
    background-color: papayawhip;
    text-align: center;
    border-radius: 0.3em;
    padding: 5px;
    margin-right: 22px;
    font-weight: normal;
  }
}

// 投稿の説明
.caption {
  &_user {
    display: flex;
    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
    &_post_time {
      padding: 4px 4px 4px 15px;
      time {
        color: silver;
      }
    }
    // いいね！をカウント数を表示するブロック
    .iine_count {
      // color: red;
      color: white;
      // text-shadow: 0 0 10px red, 0 0 15px red;
      padding: 13px;
      font-size: 16px;
      // background: #6f0101;
      background-color: #ED3833;
      text-align: center;
      margin-left: auto;
      margin-right: 4px;
    }
  }
  .remarks_title {
    padding-top: 10px;
  }
  // 備考欄
  .remarks {
    margin-top: 5px;
    padding: 3px 7px;
    min-height: 70px;
    background-color: #f5f5f5;
  }
  // 店の情報
  .eatery_info {
    padding: 10px;
  }
}

// コメントエリアのテキストがブロック内で折り返されるように設定
#comments_area {
  height: 60vh;
  word-wrap: break-word;
  overflow: scroll;
  img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
  }
}

// コメントエリアのタイトルとボディとの間の隙間
.right_section p.title {
  padding-bottom: 5px;
  border-bottom: solid 1px lightgray;
}
