#home_sec01 {
  width: 100%;
  height: 100%;
}
// トップページの画像位置
.top_image img {
  position: relative;
  top: 60px;
  left: 80px;
}
// キャッチコピーとサインアップボタンの位置
.sign_up_list {
  position: relative;
  top: 311px;
  left: 80px;
  z-index: 6;
}
// アプリの説明文
.text_area {
  position: relative;
  top: 100px;
  width: 935px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-family: serif;
}
.content {
  line-height: 25px;
}
