#quit_block {
  .destroy_secsion {
    text-align: center;
    margin-top: 23vh;
    img {
      margin: 0 auto;
    }
    .title {
      border: solid 1px silver;
      padding: 10px;
    }
    .content {
      line-height: 30px;
      margin-bottom: 20px;
    }
    a.btn {
      border-radius: unset;
    }
    a.btn-toppage {
      color: silver;
      border-color: silver;
      &:hover {
        color: black;
        border-color: black;
      }
    }
  }
  .destroy_confirm_section {
    margin-top: 24vh;
    .quit_page_header {
      background-color: azure;
      line-height: 30px;
      text-align: center;
      font-size: 1.2em;
      font-weight: bold;
      padding: 15px 20px;
      margin-bottom: 10px;
      p {
        margin: 0;
      }
    }
    .form_outer {
      text-align: center;
    }
    .form_inner {
      line-height: 18px;
      font-size: 0.9em;
      text-align: left;
    }
  }
}
