// カテゴリーリスト
.category_list  {
  tbody tr td {
    padding: 0;
  }
  tbody a {
    color: black;
    display: block;
    padding: 10px;
    // 選択中のカテゴリー
    &.current {
      color: white;
      background-color: black;
      padding: 10px;
    }
  }
  // マウスカーソルを重ねたとき
  .table-hover {
    tbody td:hover {
      background-color: black;
      a:hover {
        color: white;
      }
    }
  }
}

// 新規登録ボタン
a.cp_btn {
	display: block;
	width: 160px;
  margin-top: 22px;
	padding: 0.8em;
	text-align: center;
	color: #EC407A;
	border: 2px solid #EC407A;
	border-radius: 3px;
	transition: .4s;//ふわっと
  &:hover {
    background: #EC407A;
  	color: #fff;
  }
}

// 詳細をみるボタン
a.btn-show {
  color: silver;
  border-color: silver;
  margin-top: 10px;
  &:hover {
    color: black;
    border-color: black;
  }
}

// アカウントメニュー
.user_account_menu {
  margin-top: 40px;
  p {
    font-size: 17px;
  }
  &_link {
    color: black;
    display: inline-block;
    margin: 3px 0;
    &:hover {
      color: black;
    }
  }
  // いいね！済みのリスト
  a.iine_posts_link {
    color: black;
    display: inline-block;
    margin: 30px 0 30px 21px;
    span {
      padding-left: 20px;
    }
  }
}

// いいね！したポスト一覧
// .iine_box {
//   margin-top: 10px;
//   background-color: white;
//   border: solid 1px;
//   border-color: lightgray;
//   border-radius: 2%;
//   height: 200px;
//   padding: 10px;
//   word-wrap: break-word;
//   overflow: scroll;
//   img {
//     border-radius: 50%;
//   }
//   span {
//     margin: 4px 0;
//     display: inline-block;
//   }
//   p.no_iine_posts_message {
//     text-align: center;
//   }
// }
