<table class="table">
  <thead>
    <tr>
      <th>アカウント名</th>
      <th>管理者権限</th>
      <th></th><!-- 空マス -->
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% if user.admin %>
          <td>あり</td>
        <% else %>
          <td>なし</td>
        <% end %>
        <td>
          <%= link_to 'EDIT', edit_admin_user_path(user) %>&nbsp;
          <%= link_to 'DELETE',
                       admin_user_path(user),
                       method: :delete,
                       data: { confirm: "#{user.name}を削除してよろしいですか？" },
                       class: "user_destroy_link"
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
